@media screen and (device-width: 360px) and (device-height: 640px) {
  body {
    background-color: #2D2D2D;
    font-family: 'Roboto', sans-serif;
    color: #95989A;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .mainbox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .maintext {
    margin-top: 40px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    font-size: 1em;
  }
  .regico {
    width: 48px;
    height: 48px;
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .layer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .layer2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
  }
  .layer3 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
  }
  .circolor {
    background-color: #00898E;
    border-radius: 50%;
  }
  .fabsize {
    height: 60px;
    width: 60px;
  }
  .achieve {
    background-color: #161616;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 9999;
    position: fixed;
    bottom: calc(45vh);
  }
  .button {
    background-color: rgba(0,137,142, 0.5);
    text-align: center;
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    margin: 5px;
  }
  .button:active {
    background-color: rgba(0,137,142, 1);
    transition: 0.2s
  }
  h2 {
    font-size: 1em;
    font-weight: 100;
  }
  .form {
    width: 200px;
  }
  input {
    background-color: rgba(255,255,255,0.2);
    border: none;
  }
}
